# dirs
wandb/
dcgm/
.ipynb_checkpoints/
.vscode/
__pycache__/
samples/
results/
beit2

# experimental modules
ControlNet/
CREStereo/
prompt-to-prompt/
segment-anything/

# scripts
*.ipynb

# images
*.jpg
*.png
*.jpeg

# log files
*.err
*.out
